@font-face {
    font-family: 'semibold';
    src: url(../assets/font/inter/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(../assets/font/inter/Inter-Regular.ttf);
}
@font-face {
    font-family: 'medium';
    src: url(../assets/font/inter/Inter-Medium.ttf);
}
@font-face {
    font-family: 'thin';
    src: url(../assets/font/inter/Inter-Thin.ttf);
}
